div.new-post{
    width: 70%;
    border: 1pc solid white;
    height: 50px;
}

div input{
    width: 42%;
    height: 44px;
    font-size: 20px;
}

div {
    font-size: 20px;
}

tr.posts:hover {
    background-color:lightgrey;
}

td.buttons {
    text-align: right;
    width: 180px;
}

tr.posts{
    height: 50px;
}








